# Binaries
bin/
*.exe
*.out
*.app

# Go
*.test
*.prof
vendor/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
.zed/
*.swp
*.swo
*~

# Logs
*.log

# Temp bestanden
*.tmp
*.bak
# Added by goreleaser init:
dist/
